{{- /* A picture with an optional caption. Pass (dict "img" … "alt" … "caption" … "sizes" … "class" …). */ -}}
<figure class="figure{{ with .class }} {{ . }}{{ end }}">
  <a class="figure-link" href="{{ partial "full-size.html" .img }}">
    {{- partial "picture.html" (dict "img" .img "alt" .alt "sizes" (.sizes | default "(min-width: 50rem) 46rem, 100vw") "widths" (slice 480 800 1200 1600)) -}}
  </a>
  {{- with .caption }}
  <figcaption>{{ . | markdownify }}</figcaption>
  {{- end }}
</figure>
