@import "https://fonts.googleapis.com/css?family=Lato:300";
html, body, .background {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
html {
  background: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
  position: relative;
}

html,body,#app {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
#app {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  color: #1E1D32;
  font-family: 'Lato', sans-serif;
}
.app-left {
    width: 100%;
    height: 100%;
}
.app-left{
  display: block;
  position: relative;
}
.app-right{
  display: block;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
.app-me-right{
  display: block;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
.app-top-right{
  display: block;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}


@media (min-width: 800px){
.app-left {
    display: block;
    position: fixed;
    width: 15%;
    top: 0;
    height: 100%;
}
.app-right {
    display: block;
    position: fixed;
    width: 85%;
    top: 0;
    height: 100%;
}
.app-me-right {
    display: block;
    position: fixed;
    width: 85%;
    top: 35%;
    height: 65%;
}
.app-top-right {
    display: block;
    position: fixed;
    width: 85%;
    top: 0;
    height: 35%;
}
.app-left {
    left: 0;
    overflow: hidden;
}
.app-right {
    right: 0;
    overflow: auto;
}
.app-me-right {
    right: 0;
    overflow: auto;
}
.app-top-right {
    right: 0;
    overflow: auto;
}
.vertical-line { 
	width: 1px;
            height: 100%; 
            position: absolute; 
            top: 0%;
            left: 15%;
			background: black;
			background: -webkit-gradient(linear, 0 100%, 0 0, from(white), to(white), color-stop(50%, rgba(0, 0, 0, 0.5))); 
        } 
.project-toggle {
  font-size: 24px;
}
.heading {
font-size: 30px;
}
.heading-short { display: none; }
h1,
.h1 {
  font-size: 12px;
  }
h1-sub  {
  font-size: 12px;
  }
p,
.p1 {
  font-size: 14px;
}
p3 {
  font-size: 14px;
  }
p4 {
  font-size: 24px;
  }
.lbl-toggle {  font-size: 24px;}
:root {
  --icon_size_big: 8%; 
  --icon_size: 7%; 
  --icon_size_small: 6%; 
}
}

@media (max-width: 800px) and (min-width: 501px){
.app-left {
    display: block;
    position: fixed;
    width: 20%;
    top: 0;
    height: 100%;
}
.app-right {
    display: block;
    position: fixed;
    width: 80%;
    top: 0;
    height: 100%;
}
.app-me-right {
    display: block;
    position: fixed;
    width: 80%;
    top: 35%;
    height: 65%;
}
.app-top-right {
    display: block;
    position: fixed;
    width: 80%;
    top: 0;
    height: 35%;
}
.app-left {
    left: 0;
    overflow: hidden;
}
.app-right {
    right: 0;
    overflow: auto;
}
.app-me-right {
    right: 0;
    overflow: auto;
}
.app-top-right {
    right: 0;
    overflow: auto;
}
.vertical-line { 
	width: 1px;
            height: 100%; 
            position: absolute; 
            top: 0%;
            left: 20%;
			background: black;
			background: -webkit-gradient(linear, 0 100%, 0 0, from(white), to(white), color-stop(50%, rgba(0, 0, 0, 0.5))); 
        } 
.project-toggle {
  font-size: 24px;
}
.heading {
font-size: 30px;
}
.heading-short { display: none; }
h1,
.h1 {
  font-size: 12px;
  }
h1-sub  {
  font-size: 12px;
  }
p,
.p1 {
  font-size: 14px;
}
p3 {
  font-size: 14px;
  }
p4 {
  font-size: 24px;
  }
.lbl-toggle {  font-size: 24px;}
:root {
  --icon_size_big: 8%; 
  --icon_size: 7%; 
  --icon_size_small: 6%; 
}
}



@media (max-width: 500px) and (min-width: 400px) {
.app-left {
    display: block;
    position: fixed;
    width: 20%;
    top: 0;
    height: 100%;
}
.app-right {
    display: block;
    position: fixed;
    width: 80%;
    top: 0;
    height: 100%;
}
.app-me-right {
    display: block;
    position: fixed;
    width: 80%;
    top: 35%;
    height: 65%;
}
.app-top-right {
    display: block;
    position: fixed;
    width: 80%;
    top: 0;
    height: 35%;
}
.app-left {
    left: 0;
    overflow: hidden;
}
.app-right {
    right: 0;
    overflow: auto;
}
.app-me-right {
    right: 0;
    overflow: auto;
}
.app-top-right {
    right: 0;
    overflow: auto;
}
.vertical-line { 
	width: 1px;
            height: 100%; 
            position: absolute; 
            top: 0%;
            left: 20%;
			background: black;
			background: -webkit-gradient(linear, 0 100%, 0 0, from(white), to(white), color-stop(50%, rgba(0, 0, 0, 0.5))); 
        }
.project-toggle {
  font-size: 24px;
}
.heading {
font-size: 18px;
transform: translate(-5px, 20px) rotate(-45deg);
}
.heading-short { display: none; }
h1,
.h1 {
  font-size: 12px;
  }
h1-sub  {
  font-size: 12px;
  }
p,
.p1 {
  font-size: 14px;
}
p3 {
  font-size: 14px;
  }
p4 {
  font-size: 24px;
  }
.lbl-toggle {  font-size: 24px;}
:root {
  --icon_size_big: 10%; 
  --icon_size: 9%; 
  --icon_size_small: 8%; 
}
}


@media (max-width: 400px){
.app-left {
    display: block;
    position: fixed;
    width: 20%;
    top: 0;
    height: 100%;
}
.app-right {
    display: block;
    position: fixed;
    width: 80%;
    top: 0;
    height: 100%;
}
.app-me-right {
    display: block;
    position: fixed;
    width: 80%;
    top: 35%;
    height: 65%;
}
.app-top-right {
    display: block;
    position: fixed;
    width: 80%;
    top: 0;
    height: 35%;
}
.app-left {
    left: 0;
    overflow: hidden;
}
.app-right {
    right: 0;
    overflow: auto;
}
.app-me-right {
    right: 0;
    overflow: auto;
}
.app-top-right {
    right: 0;
    overflow: auto;
}
.vertical-line { 
	width: 1px;
            height: 100%; 
            position: absolute; 
            top: 0%;
            left: 20%;
			background: black;
			background: -webkit-gradient(linear, 0 100%, 0 0, from(white), to(white), color-stop(50%, rgba(0, 0, 0, 0.5))); 
        }
.project-toggle {
  font-size: 12px;
}
.heading-short { display: inline-block; }
.heading { display: none; }
h1,
.h1 {
  font-size: 12px;
  }
h1-sub  {
  font-size: 12px;
  }
p,
.p1 {
  font-size: 14px;
}
p3 {
  font-size: 14px;
  }
p4 {
  font-size: 24px;
  }
.lbl-toggle {  font-size: 24px;}
:root {
  --icon_size_big: 11%; 
  --icon_size: 10%; 
  --icon_size_small: 9%; 
}
}


@media (min-width: 640px) and (max-width: 900px) {
section[projects] {
      padding: 48px;
}
}
@media (min-width: 700px) {
section[projects] {
      padding: 64px;
}
}


a {
  color: black;
  position: absolute;
  text-decoration: none;
}
a:hover {
  color: #3c54f1;
  cursor: pointer;
}
a:active {
  top: 5px;
}
a.fade-hover:hover {
    opacity: 0.6;
}
h1,
.h1 {
  font-weight: 300;
  padding: 0;
  margin: 0;
}
h1-sub  {
  font-weight: 300;
  padding: 0;
  margin: 0;
}
p,
.p1 {
  font-weight: 400;
  line-height: 22px;
  padding: 0;
  margin: 0;
}
p3 {
  font-weight: 400;
  line-height: 22px;
  padding: 0;
  margin: 0;
  color: white;
  text-align: justify;
}
p4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  color: white;
}

.project[projects],
.extra[projects] {
  padding-top: 16px;
  padding-bottom: 16px;
}
.project[projects]:last-child,
  .extra[projects]:last-child {
    padding-bottom: 0;
}
.project .project-links[projects],
  .extra .project-links[projects] {
    margin-top: 8px;
}
.project .project-links a[projects],
    .extra .project-links a[projects] {
      margin-right: 8px;
}
.featured-project p[projects],
.about p[projects] {
  padding-top: 16px;
}

.container
{
    display: flex;
	flex-direction: column;
    align-items: center;
  	justify-content: center;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	position: relative;
}

.vertical-center {
  position: relative;
  font-size: 50px;
}

.responsive {
  width: 100%;
  height: auto;
  flex-shrink: 0
}
#menu_mus img {
    position: absolute;
    bottom: 0px;
    left: 2.5%;
    height:auto;
    width: 95%;
    max-width: 200px;
}
#menu_home{
    position: absolute;
    top: 20%;
    left: 10%;
}
#menu_me{
    position: absolute;
    top: 30%;
    left: 10%;
}
#menu_projects{
    position: absolute;
    top: 40%;
    left: 10%;
}
#menu_DIY{
    position: absolute;
    top: 50%;
    left: 10%;
}
#menu_misc{
    position: absolute;
    top: 60%;
    left: 10%;
}
.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

 font-family: 'Lato', sans-serif;
  text-transform: none;
  text-align: center;

  padding-top: 1rem;
  padding-bottom: 1rem;

  color: #1E1D32;
  background: #ffffff;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #2b84e3;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: auto;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(7, 238, 255, 0.05);
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0px 0px 0px 0px;
}


input[type='checkbox'] {
  display: none;
}

.heading {
  font-family: 'Lato', sans-serif;
  
  text-transform: none;
  text-align: center;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  color: #1E1D32;
  background: #ffffff;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
  
}
.heading-short {
 font-family: 'Lato', sans-serif;
  
  text-transform: none;
  text-align: center;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  color: #1E1D32;
  background: #ffffff;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
  
}

#mus_heading{
    position: absolute;
    top: 5%;
    left: 4%;
}

#mus_heading_short{
    position: absolute;
    top: 1%;
    left: 4%;
}

.project-toggle:hover {
  color: #2b84e3;
}

.project-toggle {
  display: block;

 font-family: 'Lato', sans-serif;
  text-transform: none;
  text-align: center;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  color: #1E1D32;
  background: #ffffff;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}
/*
.project-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .2rem;
  transform: translateY(-2px);
  
  transition: transform .2s ease-out;
}*/
.Project-collapsible-content {
  max-height: 0px;
  overflow: auto;
  transition: max-height .25s ease-in-out;
}
.Project-collapsible-content .Project-content-inner {
  background: rgba(112, 66, 20, 0);
  border-bottom: 0px solid rgba(0, 0, 0, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0px 0px 0px 0px;
}

.projectToggle:checked + .project-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.projectToggle:checked + .project-toggle + .Project-collapsible-content {
  max-height: 650px;
}

.projectToggle:checked + .project-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


img.projectOne {
  height: auto;
  width: 50%;
  min-width: 300px;
}


#bayes img {
    position: absolute;
    top: 30%;
    left: 10%;
	height:auto;
    width: var(--icon_size_big);
}
#books img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height:auto;
    width: var(--icon_size_big);
}
#c img {
    position: absolute;
    top: 15%;
    left: 25%;
    height:auto;
    width: var(--icon_size);
}
#coffee img {
    position: absolute;
    top: 5%;
    right: 45%;
    height:auto;
    width: var(--icon_size);
}
#cyprus img {
    position: absolute;
    top: 35%;
    left: 45%;
    height:auto;
    width: var(--icon_size);
}
#dna img {
    position: absolute;
    bottom: 0%;
    left: 30%;
    height:auto;
    width: var(--icon_size);
}
#eye img {
    position: absolute;
    bottom: 35%;
    left: 35%;
    height:auto;
    width: var(--icon_size_small);
}
#mac img {
    position: absolute;
    right: 15%;
    top: 20%;
    height:auto;
    width: var(--icon_size_big);
}
#microscope img {
    position: absolute;
    right: 35%;
    top: 20%;
    height:auto;
    width: var(--icon_size_small);
}
#graphene img {
    position: absolute;
    bottom: 0px;
    left: 2%;
    height:auto;
    width: var(--icon_size_big);
}
#ps img {
    position: absolute;
    bottom: 30%;
    right: 20%;
    height:auto;
    width: var(--icon_size_small);
}
#python img {
    position: absolute;
    top: 5%;
    right: 5%;
    height:auto;
    width: var(--icon_size);
}
#qd img {
    position: absolute;
    bottom: 20%;
    left: 15%;
    height:auto;
    width: var(--icon_size);
}
#starbucks img {
    position: absolute;
    bottom: 2%;
    right: 35%;
    height:auto;
    width: var(--icon_size_big);
}
#swift img {
    position: absolute;
    top: 5%;
    left: 2%;
    height:auto;
    width: var(--icon_size);
}

/* Buzz */
@-webkit-keyframes heading {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes heading {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.heading:hover, .heading:focus, .heading:active {
  -webkit-animation-name: heading;
  animation-name: heading;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* [Object] Modal
 * =============================== */
.modal {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  text-fill-color: white;
  background: rgba(0,0,0, .8);
  transition: opacity .25s ease;
  z-index: 99999;
}

.modal__bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}
 #app-left >*{
.modal__inner {
  transition: top .25s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  text-fill-color: #fffff;
}
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen{
  .modal__inner {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    transform: translate(50%,50%);
  }
}


.btn {
  cursor: pointer;
  background: #ffffff;
  display: inline-block;
  padding: .5em 1em;
  color: #fff;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background: #ffffff;
}

.btn:active {
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

.btn--blue {
  background: #2980b9;
}

.btn--blue:hover,
.btn--blue:focus {
  background: #3498db;
}

.btn--blue:active {
  background: #2980b9;
}